@page "/statistics"

<PageTitle>Statistics</PageTitle>

<h1 class="title">Statistics</h1>

<p class="text-lg">
    Here you can view your statistics for your favorite coins. You can compare them and search for specific coins.
</p>
